ion-header {
  --background: var(--ion-color-primary);
  --color: white;
}

ion-item {
  --background: var(--ion-color-light);
  margin-bottom: 10px;
  border-radius: 10px;
}

ion-icon {
  font-size: 1.2rem;
}
