ion-list {
  margin-top: 16px;
}

ion-item {
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
}

ion-button {
  margin-top: 20px;
  background-color: #b00020;
  color: white;
}
